/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Modak');


.mat-tab-label {
    font-family: 'Modak', cursive;
    font-size: 20px;
    color: black;
}

