<mat-toolbar color="primary" class="example-toolbar animated fadeInDown">
  <h1 class="header">PORTFOLIO<br><span class="sub-header">GEORGI BORISOV</span></h1>
</mat-toolbar>
<mat-card class="example-card animated fadeInUp hvr-grow">
  <mat-tab-group mat-stretch-tabs dynamicHeight="true">
  <mat-tab label="PROJECTS" class="testa" dynamicHeight="true">
    <mat-card *ngFor="let project of projects" class="example-card2 animated fadeInLeft">
        <img mat-card-image src="{{project.img}}" alt="Photo of a Shiba Inu">
        <hr>
        <mat-card-content >
            <p *ngFor="let tehnologie of project.technologies">{{tehnologie}}</p>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-row">
                <a target="_blank" mat-raised-button color="primary" href="{{project.video}}">SEE VIDEO</a>
                <a target="_blank" mat-raised-button color="primary" href="{{project.link}}">GO TO SITE</a>
                
            </div>
        </mat-card-actions>
    </mat-card>
  </mat-tab>
  

  <mat-tab label="ABOUT ME" class="testa">
    <h1>Sdwdw</h1>
    <p>dwdwdwdwdw.</p>
  </mat-tab>
  <mat-tab label="CONTACTS" class="testa">
    <h1>Somedwdwdwt</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
</mat-card>

<mat-toolbar color="primary" class="footer animated fadeInDown">

</mat-toolbar>