@import url('https://fonts.googleapis.com/css?family=Modak');

.example-toolbar{
    height: 250px;
}
.github-link{
    color: white;
}

.about-card{
    margin: 10px auto;
    width: 60%;
    text-align: center;
}
.mat-subheader{
    font-family: 'Modak', cursive;
    font-size: 20px;
    color: #673AB7;
}
.header{
    font-family: 'Modak', cursive;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 60px;
    color: white;
    letter-spacing: 3px;
    animation-delay: 1s;
}

.sub-header{
    font-size: 22px;
    padding-left: 23px;
    letter-spacing: 1px;
}

.example-card{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 120px;
}
.mat-card-image{
    height: 300px;
}

.mat-card-actions{
    margin-left: 0px;
}


.example-card2 {
  width: 455px;
  float: left;
  margin: 10px;
  animation-delay: 1s;
  animation-duration: 3s;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  height: 250px;
}
p{
    font-family: 'Modak', cursive;
    font-size: 16px;
    text-align: left;
}

.soon{
    font-family: 'Modak', cursive;
    color: #673AB7;
    letter-spacing: 3px;
    font-size: 28px;
    height: 600px
}
.footer{
    height: 250px
}


@media (max-width: 767px) {
.example-toolbar{
    width: 100%
}
.example-card{
    width: 80%;
}
.example-card2 {
  width: 80%;
}

.github-link{
    display: none;
}

}